<div class="form_signup">
  <div class="container">
    <div class="form_signup1">
      <%= simple_form_for @vet do |f| %>
        <%= f.input :name %>
        <%= f.input :speciality %>
        <%= f.input :address %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.submit :class => "button_1" %>
        <%= link_to "Back", vets_path, :class => "button_sec", :style => "width:40%;" %>
      <% end %>
    </div>
  </div>
</div>

