
<div class="container">
  <div class="vets">
    <div class="d-flex row justify-content-center align-items-center">
      <div class="vets_h col-lg-6">
        <h1 class="home_title">Find your Vet</h1>
      </div>
      <div class="become_vet col-lg-6">
        <%= link_to 'Become A Vet', new_vet_path, :class => "button_sec", :style => "width:40%;" %>
      </div>
    </div>
    <div class="vets_all">

      <% Vet.all.each do |vet| %>
        <%= link_to vet_path(vet), class: "card_link" do %>
          <div class="vet_card d-flex row align-items-center">
            <div class="col-lg-2 col-md-4">
            </div>
            <div class="col-lg-7 col-md-6">
              <h3><%= vet.name %></h3>
              <p><%= vet.speciality %> <%= vet.adress %></p>
              <h5><%= vet.description %></h5>
            </div>
            <div class="col-lg-3 col-md-2">
              <h3><%= vet.price %> $</h3>
              <p>Per minute</p>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
