
<div id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="container">
  <div class="vets">
    <div class="d-flex row justify-content-between align-items-center" style="margin-bottom: 15px;">
      <div class="vets_h col-lg-4">
        <h1 class="home_title">Find your Vet</h1>
      </div>
      <div class="become_vet col-lg-3">
        <%= link_to 'Become A Vet', new_vet_path, :class => "button_call", :style => "width:40%;" %>
      </div>
    </div>

    <div class="serch_vet d-flex row justify-content-between align-items-end" style="text-align: center; padding-bottom: 20px;">

    <div class="showing row col-sm-12 col-lg-4 justify-content-center" style="text-align: center;">
      <h5 class="show_h">Showing:</h5>
      <div class="padd_sort">
        <th><%= link_to "Newest", :sort => "time", :class => "sort_link" %> </th>
      </div>
      <div class="padd_sort">
        <th><%= link_to "Featured", :sort => "price", :class => "sort_link" %></th>
      </div>
      <div class="padd_sort">
        <th><%= link_to "Popular", :sort => "name", :class => "sort_link" %></th>
      </div>
    </div>


<!--     <div class="search">
      <%= form_tag vets_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a Vet by name:"%>
      <%= submit_tag "Search", class: "button_3_3_3" %>
      <% end %>
    </div>-->

    <div class="search col-sm-12 col-lg-5 justify-content-center ">
      <%= form_tag(vets_path, method: :get) do %>
        <p style="margin-bottom: 0;"> Search for a Vet by name </p>
        <%= text_field_tag(:search, params[:search], class: "form-hold")%>
        <%= submit_tag ("Search"), class: "button_3_3_3" %>
      <% end %>
    </div>

    <div class="d-flex row col-sm-12 col-lg-3 justify-content-center">
      <div class="sortby row">
        <h5  class="show_h"style="line-height: : 0;">Sort by:</h5>
        <div class="padd_sort">
          <th class="sort_link"><%= link_to "Price", :sort => "price", :class => "sort_link" %></th>
        </div>
        <div class="padd_sort">
          <th class="sort_link"><%= link_to "Name", :sort => "name", :class => "sort_link" %></th>
        </div>
        <div class="padd_sort">
          <th class="sort_link"><%= link_to "Price D", :sort => "price", :class => "sort_link" %></th>
        </div>
      </div>
    </div>

  </div>


    <div class="vets_all">
      <% @vets.each do |vet| %>
        <%= link_to vet_path(vet), class: "card_link" do %>
          <div class="vet_card d-flex row align-items-center">
            <div class="col-lg-2 col-md-2">
              <%= cl_image_tag vet.photo.key, height: 180, width: 180, crop: :fill, :class => "vet_prof_picture" %>
            </div>
            <div class="col-lg-7 col-md-7">
              <h3 class="vet_name"><%= vet.name %></h3>
              <p class="vet_gray"><strong><%= vet.speciality %></strong> | <%= vet.address %></p>
              <h5 class="vet_desc"><%= vet.description %></h5>
            </div>
            <div class="col-lg-3 col-md-3" style="text-align: center;">
              <h3 class="vet_name"><%= vet.price %> BAM</h3>
              <p class="price_min">Per minute</p>
              <button href="vet_path" class="button_call">Request A Call</button>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
