<div class="form_signup">
  <div class="container">
    <div class="form_signup1">
      <h1 style="margin-top:20px;">Become a Vet</h1>
      <%= simple_form_for @vet do |f| %>

        <%= f.input :name, required: true %>
        <%= f.input :speciality, required: true %>
        <%= f.input :address, required:true %>
        <%= f.input :description, required: true %>
        <%= f.input :price, required: true %>
        <%= f.input :photo, as: :file, required: true %>
        <%= f.submit :class => "button_1" %>
        <%= link_to "Back", vets_path, :class => "button_sec", :style => "width:40%;" %>
      <% end %>
    </div>
  </div>
</div>
