<div class="container">
<div class="first_h d-flex justify-content-center"><p class="home_title">Welcome to your profile, <bold><%= current_user.first_name.capitalize %></bold></p></div>
  <div class="profile_info d-flex row align-items-center">
    <div class="profile_info_photo col-lg-4">
      <% if current_user.avatar.attached? %>
      <div class="profile_change d-flex row justify-content-center">
        <div clas="pic"><%= cl_image_tag current_user.avatar.key, class: "vet_prof_picture_profile" %></div>
        <div class="pic_chng"><%= link_to "Edit", edit_user_registration_path, :class => "button_call" %></div>
      </div>
      <% else %>
        <%= cl_image_tag "https://media.defense.gov/2020/Feb/19/2002251686/700/465/0/200219-A-QY194-002.JPG", class: "avatar-lg avatar-bordered vet_prof_picture" %>
      <% end %>
    </div>
    <div class="profile_info_desc col-lg-8">
      <h3>User Name: <%= current_user.username %></h3>
      <p>First Name: <%= current_user.first_name %></p>
      <p>Last Name: <%= current_user.last_name %></p>
      <p>Email: <%= current_user.email %></p>
      <p>Your Bio: <%= current_user.bio %></p>
      <p>Your Password: <%= link_to "Change your password", edit_user_registration_path, :class => "button_3_3_3" %></p>
    </div>

  </div>



 <% if current_user.is_vet_owner? %>
  <br>
  <h2>My Vets:</h2>
  <% @vets.each do |vet| %>
  <%= link_to vet_path(vet), class: "card_link" do %>
    <div class="container" style="margin:20px 0;">
      <hr>
      <div class="d-flex row justify-content-between align-items-center">
        <div class="col-lg d-flex align-items-center">
          <div class="">
            <%= cl_image_tag vet.photo.key, height: 200, width: 200, crop: :fill, :class => "vet_prof_picture" %>
          </div>
          <div class="">
            <h3 class="vet_name"><%= vet.name %></h3>
            <p class="vet_gray"><strong><%= vet.speciality %></strong> | <%= vet.address %></p>
            <h5 class="vet_desc"><%= vet.description %></h5>
          </div>
        </div>
        <div class="col-lg-3" style="text-align: center;">
          <h3 class="vet_name"><%= vet.price %> BAM</h3>
          <p class="price_min">Per minute</p>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
<% end %>

</div>


